[View in Colaboratory](https://colab.research.google.com/github/gowtham91m/gofundme/blob/master/cleaning.ipynb)

In [0]:
import pandas as pd
import nltk
import re

In [0]:
class clean_data():
  def __init__(self):
    self.text_columns = ['category','title','location','text']
    self.num_cols_to_clean = ['goal','raised','likes','shares','donation_count']
    
  def str_to_num(self,x):
      x = re.sub('[,\$\.]','',x)
      x = re.sub('M','000000',x)
      x = re.sub('k','000',x)
      return x
    
  def text_process(self,x):
    x = x.lower()
    return x
  
  def process(self,df):
    df[self.num_cols_to_clean] = df[self.num_cols_to_clean].applymap(self.str_to_num)
    df[self.text_columns] = df[self.text_columns].applymap(self.text_process)
    #df['city'], df['state'] = df['location'].str.split(',').str
    #df.drop(['location'],inplace=True,axis=1)
    
    return df

In [0]:
campaigns = pd.read_csv('https://raw.githubusercontent.com/gowtham91m/gofundme/master/data/medical.csv')
campaigns = clean_data().process(campaigns)

In [69]:
campaigns.head()

,category,page,title,href,location,start_date,goal,raised,text,likes,shares,photos,donation_count,duration,recent_donation_time,goal_reaeched_time,script_run_time
0,medical,1,kdafoos ... cancer ...,https://www.gofundme.com/kdafoos-cancer,"houston, tx","July 18, 2018",500000,676152,iâ€™vee been fighting cancer for the past 5 year...,24000,330,11,2408,1 month,15 days ago,1 month,2018-08-27
1,medical,1,92 yr old man brutally attacked.,https://www.gofundme.com/3ctqm-medical-bills-f...,"los angeles, ca","July 6, 2018",15000,327345,"on july 4th at around 7pm, my grandfather rodo...",12000,26000,4,12167,1 month,1 month ago,1 month,2018-08-27
2,medical,1,olivia stoy:transplant & liv it up!,https://www.gofundme.com/olivia-stoy-bone-marr...,"ashley, in","May 18, 2018",10000000,316376,update: many fundraisers have been put into pl...,57000,12000,44,5601,3 months,1 day ago,3 months,2018-08-27
3,medical,1,autologous t cell transplant,https://www.gofundme.com/autologous-Tcell-Tran...,"staten island, ny","June 22, 2018",250000,241205,43 year old philip defonte who is a husband & ...,839,18000,0,843,2 months,1 month ago,0,2018-08-27
4,medical,1,claire wineland needs our help,https://www.gofundme.com/teamclaire,"garden grove, ca","June 12, 2018",225000,237555,"first of all, wow!! we have been blown away by...",90000,65000,200,8432,2 months,23 hours ago,1 month,2018-08-27